<h1><%= @post.title %></h1>

<div class="head-attributes">
    <%= @post.url %>
    <%= @post.content %>
    <%= @post.author.username %>
</div>
<br>
<a href="<%= edit_post_url %>">Edit Post</a>
<br>
<a href="<%= subs_url %>">Back to Subs</a>

